{
  "model": {
    "name": "unknown",
    "variables": [
      {
        "name": "x",
        "range": {
          "min": 0.0,
          "max": 15.0
        },
        "thresholds": [
          0.0,
          2.010804,
          2.917167,
          3.685474,
          5.564226,
          6.290516,
          7.082833,
          8.04922,
          9.345738,
          11.320528,
          15.0
        ],
        "equation": [
          {
            "constant": 1.0,
            "parameterIndices": [],
            "variableIndices": [],
            "evaluables": [
              {
                "type": "ramp_approximation",
                "variableIndex": 1,
                "approximation": [
                  {
                    "threshold": 0.0,
                    "value": 1.0
                  },
                  {
                    "threshold": 2.010804,
                    "value": 0.98959
                  },
                  {
                    "threshold": 2.917167,
                    "value": 0.936679
                  },
                  {
                    "threshold": 3.685474,
                    "value": 0.821302
                  },
                  {
                    "threshold": 4.0,
                    "value": 0.753194
                  },
                  {
                    "threshold": 5.564226,
                    "value": 0.369445
                  },
                  {
                    "threshold": 6.290516,
                    "value": 0.24085
                  },
                  {
                    "threshold": 7.082833,
                    "value": 0.149163
                  },
                  {
                    "threshold": 8.0,
                    "value": 0.087064
                  },
                  {
                    "threshold": 8.04922,
                    "value": 0.084657
                  },
                  {
                    "threshold": 9.345738,
                    "value": 0.041991
                  },
                  {
                    "threshold": 11.320528,
                    "value": 0.01653
                  },
                  {
                    "threshold": 15.0,
                    "value": 0.004098
                  }
                ]
              }
            ]
          },
          {
            "constant": -1.0,
            "parameterIndices": [
              0
            ],
            "variableIndices": [
              0
            ],
            "evaluables": []
          }
        ]
      },
      {
        "name": "y",
        "range": {
          "min": 0.0,
          "max": 15.0
        },
        "thresholds": [
          0.0,
          2.010804,
          2.917167,
          3.685474,
          4.0,
          5.564226,
          6.290516,
          7.082833,
          8.0,
          8.04922,
          9.345738,
          11.320528,
          15.0
        ],
        "equation": [
          {
            "constant": 1.0,
            "parameterIndices": [],
            "variableIndices": [],
            "evaluables": [
              {
                "type": "ramp_approximation",
                "variableIndex": 0,
                "approximation": [
                  {
                    "threshold": 0.0,
                    "value": 1.0
                  },
                  {
                    "threshold": 2.010804,
                    "value": 0.98959
                  },
                  {
                    "threshold": 2.917167,
                    "value": 0.936679
                  },
                  {
                    "threshold": 3.685474,
                    "value": 0.821302
                  },
                  {
                    "threshold": 5.564226,
                    "value": 0.369445
                  },
                  {
                    "threshold": 6.290516,
                    "value": 0.24085
                  },
                  {
                    "threshold": 7.082833,
                    "value": 0.149163
                  },
                  {
                    "threshold": 8.04922,
                    "value": 0.084657
                  },
                  {
                    "threshold": 9.345738,
                    "value": 0.041991
                  },
                  {
                    "threshold": 11.320528,
                    "value": 0.01653
                  },
                  {
                    "threshold": 15.0,
                    "value": 0.004098
                  }
                ]
              }
            ]
          },
          {
            "constant": -1.0,
            "parameterIndices": [
              1
            ],
            "variableIndices": [
              1
            ],
            "evaluables": []
          }
        ]
      }
    ],
    "parameters": [
      {
        "name": "deg_x",
        "range": {
          "min": 0.0,
          "max": 1.0
        }
      },
      {
        "name": "deg_y",
        "range": {
          "min": 0.0,
          "max": 1.0
        }
      }
    ]
  },
  "formulas": [
    {
      "first": "reach_high?",
      "second": {
        "operator": "EU",
        "path": {
          "operator": "Atom",
          "inner": "True"
        },
        "reach": {
          "operator": "Atom",
          "inner": {
            "variableIndex": 1,
            "thresholdIndex": 8,
            "compareOp": "GT"
          }
        }
      }
    },
    {
      "first": "reach_low?",
      "second": {
        "operator": "EU",
        "path": {
          "operator": "Atom",
          "inner": "True"
        },
        "reach": {
          "operator": "Atom",
          "inner": {
            "variableIndex": 1,
            "thresholdIndex": 4,
            "compareOp": "LT"
          }
        }
      }
    },
    {
      "first": "high?",
      "second": {
        "operator": "Atom",
        "inner": {
          "variableIndex": 1,
          "thresholdIndex": 8,
          "compareOp": "GT"
        }
      }
    },
    {
      "first": "low?",
      "second": {
        "operator": "Atom",
        "inner": {
          "variableIndex": 1,
          "thresholdIndex": 4,
          "compareOp": "LT"
        }
      }
    },
    {
      "first": "stay_low?",
      "second": {
        "operator": "Not",
        "inner": {
          "operator": "EU",
          "path": {
            "operator": "Atom",
            "inner": "True"
          },
          "reach": {
            "operator": "Atom",
            "inner": {
              "variableIndex": 1,
              "thresholdIndex": 4,
              "compareOp": "GT"
            }
          }
        }
      }
    },
    {
      "first": "stay_high?",
      "second": {
        "operator": "Not",
        "inner": {
          "operator": "EU",
          "path": {
            "operator": "Atom",
            "inner": "True"
          },
          "reach": {
            "operator": "Atom",
            "inner": {
              "variableIndex": 1,
              "thresholdIndex": 8,
              "compareOp": "LT"
            }
          }
        }
      }
    },
    {
      "first": "reach_and_stay_low?",
      "second": {
        "operator": "EU",
        "path": {
          "operator": "Atom",
          "inner": "True"
        },
        "reach": {
          "operator": "Not",
          "inner": {
            "operator": "EU",
            "path": {
              "operator": "Atom",
              "inner": "True"
            },
            "reach": {
              "operator": "Atom",
              "inner": {
                "variableIndex": 1,
                "thresholdIndex": 4,
                "compareOp": "GT"
              }
            }
          }
        }
      }
    },
    {
      "first": "bistability?",
      "second": {
        "operator": "And",
        "left": {
          "operator": "EU",
          "path": {
            "operator": "Atom",
            "inner": "True"
          },
          "reach": {
            "operator": "Not",
            "inner": {
              "operator": "EU",
              "path": {
                "operator": "Atom",
                "inner": "True"
              },
              "reach": {
                "operator": "Atom",
                "inner": {
                  "variableIndex": 1,
                  "thresholdIndex": 8,
                  "compareOp": "LT"
                }
              }
            }
          }
        },
        "right": {
          "operator": "EU",
          "path": {
            "operator": "Atom",
            "inner": "True"
          },
          "reach": {
            "operator": "Not",
            "inner": {
              "operator": "EU",
              "path": {
                "operator": "Atom",
                "inner": "True"
              },
              "reach": {
                "operator": "Atom",
                "inner": {
                  "variableIndex": 1,
                  "thresholdIndex": 4,
                  "compareOp": "GT"
                }
              }
            }
          }
        }
      }
    },
    {
      "first": "reach_and_stay_high?",
      "second": {
        "operator": "EU",
        "path": {
          "operator": "Atom",
          "inner": "True"
        },
        "reach": {
          "operator": "Not",
          "inner": {
            "operator": "EU",
            "path": {
              "operator": "Atom",
              "inner": "True"
            },
            "reach": {
              "operator": "Atom",
              "inner": {
                "variableIndex": 1,
                "thresholdIndex": 8,
                "compareOp": "LT"
              }
            }
          }
        }
      }
    }
  ]
}
